.valid{
     color: green;
}
.invalid{
   color: red;
}
.strength-bar{
        height: 8px;
        background: grey;
        border-radius: 4px;
        margin-top: 5px;
        overflow: hidden;
}
.bar{
    height: 100%;
    transition: width 0.3s ease;
}
.strength-text{
     font-weight: bold;
     margin-top: 6px;
}